h1 {
	text-align: center;
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    font-size: 20px;
}

p {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}
img.circle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
img.circle2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
img.circle3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div {
	display: 10em;
	position: relative;
}
div.nonsenseBlock {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}